<h1><%= title %></h1>
<p><img src="/images/jure.png" alt="Jure Git"></p>
<p>Julio R. Reyes G.</p>
<p>Proyecto basado del original de <a href="https://github.com/jquemada/random">jquemada</p>
<p><a href="/quizes/question">Comience a jugar</a></p>

